@charset "UTF-8";
/* CSS Document LAURA MERINO ORTIZ*/
* {
  margin:  0;
  padding: 0;
}

body{
    width: 1260px;
	text-align: center;
	font-family: sans-serif;
	height:500px;
	background-color:lightgrey;
	margin-top:45px;
} 

div#main{
	width:100%;		/*1260px ya que ocupa todo el body*/
	/* height:400px; 			Altura real*/
	overflow:hidden;  		
	background-color:black;
}

div#main > div#izquierda{
	float:left;
	width:61.9047619047619%;	/*780px que con el padding da 800px, contenedor 1260*/
	height:370px;
	background-color: lightblue;
	margin:0px 1.587301587301587%;		/*20px del contendor 1260*/
	padding: 0px 0.7936507936507937%;		/*10px del contendor 1260*/
	padding-top: 30px;
	
}

div#main > div#izquierda > div#form{
	background-color: white;
	margin-top: 4em;
	padding: 1em 0px;
	padding-left: 8.97435897%;		/*70px de 780px */
	text-align:left;
}

div#main > div#izquierda > div#form > form >label{
	margin-left:1.31578947%;			/*10px*/
	margin-top:15px;			
}

div#main > div#izquierda > div#form > form >input{
	width:70.4225352%;			/*500px de 710px(elcontenedor son 780 pero si quitamos el padding(70px/1em) queda en 710)*/
	margin:5px 0px;		
}

div#main > div#izquierda > div#form > form >input#submit{
	width:21.1267606%;		/*150px de 710px*/
	height:2em;
	background-color:#D8D8D8;
}

div#main > div#derecha{
	width:29.36507936507937%;			/*370px de 1260px que es el ancho del body*/
	float: left;
	height:350px;
	margin-right:1.587301587301587%;		/*20px de 1260*/
	background-color: lightpink;
	padding-left:2.38095238%;			/*30px de 1260*/
	padding-top:50px;
}

div#main > div#derecha > div#imagen{
	width:40.54054054054054%;			/*150px*/
	height:150px;
	background-color: black;
}


/* FOOTER */
#footer{
	width:100%;
	height: 100px;
	background-color: #40AEBD;
	font-weight: bold;
	text-align: left;
}

/* FIN FOOTER */